extends layout
block content
	nav.navbar.navbar-default
		a(href="#").navbar-brand
			img(src='img/brand.png')
	h2.centrar= title 
	- if(mensaje){
		div(role='alert').alert.alert-danger.centrar
			h4= mensaje
			|  intenta de nuevo
	- }
	div.col-sm-4.col-sm-offset-4#log
		form(method='POST' action='/inicio').form
			div.form-group
				input(type='text' placeholder='Usuario' name ='usuario' id='usuario').form-control
			div.form-group
				input(type='password' placeholder='contraseña' name='pass' id='pass').form-control
			div.form-group
				button(type='submit').form-control.btn.btn-primary ENTRAR